<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/users.css">
    <title>Users</title>
</head>
<body>
<header class="header">
    <nav class="nav-bar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a class="active" href="/users">Users</a></li>
        </ul>
    </nav>
</header>
    <div class="users-list">
        <div class="user-box">
            <div>
                <h3>User 1</h3>
            </div>
            <div>
                <ul>
                    <li>Age: 26</li>
                    <li>Gender: Male</li>
                </ul>
            </div>
        </div>
        <div class="user-box">
            <div>
                <h3>User 2</h3>
            </div>
            <div>
                <ul>
                    <li>Age: 25</li>
                    <li>Gender: Female</li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>